[Unit]
Description=stupidchess nginx log exporter

[Service]
ExecStart=/opt/prometheus-nginxlog-exporter/bin/prometheus-nginxlog-exporter -config-file /etc/prometheus-nginxlog-exporter/stupidchess-nginx-exporter.hcl
Restart=always
KillSignal=SIGQUIT
Type=simple
NotifyAccess=all
User=stupidchess

[Install]
WantedBy=multi-user.target
