[Unit]
{%- if Description is defined %}
Description={{ Description }}
{%- endif %}

[Timer]
OnCalendar={{ OnCalendar }}

[Install]
WantedBy=timers.target
