[Unit]
PartOf={{ PartOf }}
{%- if Description %}
Description={{ Description }}
{%- endif %}

[Socket]
FileDescriptorName={{ FileDescriptorName }}
SocketUser={{ SocketUser }}
SocketGroup={{ SocketGroup }}

{%- if Service is defined %}
Service={{ Service }}
{%- endif %}

{%- if BindIPv6Only is defined %}
BindIPv6Only={{ BindIPv6Only }}
{%- endif %}

{%- for l in ListenStream %}
ListenStream={{ l }}
{%- endfor %}

[Install]
WantedBy=sockets.target
