[Unit]
{%- if Description is defined %}
Description={{ Description }}
{%- endif %}

{%- if Documentation is defined %}
Documentation={{ Documentation }}
{%- endif %}

{%- if After is defined %}
  {%- for a in After %}
After={{ a }}
  {%- endfor %}
{%- endif %}

{%- if Requires is defined %}
  {%- for r in Requires %}
Requires={{ r }}
  {%- endfor %}
{%- endif %}

{%- if Wants is defined %}
Wants={{ Wants }}
{%- endif %}

[Service]
Type={{ Type | default("simple", true) }}
ExecStart={{ ExecStart }}
User={{ User | default("root", true) }}
Group={{ Group | default("root", true) }}
Restart={{ Restart | default("always", true) }}

{%- if RestartSec is defined %}
RestartSec={{ RestartSec }}
{%- endif %}

{%- if ExecStartPre is defined %}
ExecStartPre={{ ExecStartPre }}
{%- endif %}

{%- if ExecReload is defined %}
ExecReload={{ ExecReload }}
{%- endif %}

{%- if ExecStop is defined %}
ExecStop={{ ExecStop }}
{%- endif %}

{%- if Sockets is defined %}
  {%- for s in Sockets %}
Sockets={{ s }}
  {%- endfor %}
{%- endif %}

{%- if EnvironmentFile is defined %}
EnvironmentFile={{ EnvironmentFile }}
{%- endif %}

{%- if Environment is defined %}
  {%- for e in Environment %}
Environment={{ e }}
  {%- endfor %}
{%- endif %}

{%- if PIDFile is defined %}
PIDFile={{ PIDFile }}
{%- endif %}

{%- if TimeoutStartSec is defined %}
TimeoutStartSec={{ TimeoutStartSec }}
{%- endif %}

{%- if PrivateTmp is defined %}
PrivateTmp={{ PrivateTmp }}
{%- endif %}

{%- if PrivateDevices is defined %}
PrivateDevices={{ PrivateDevices }}
{%- endif %}

{%- if LogsDirectory is defined %}
LogsDirectory={{ LogsDirectory }}
{%- endif %}

{%- if RuntimeDirectory is defined %}
RuntimeDirectory={{ RuntimeDirectory }}
{%- endif %}

{%- if LimitFSIZE is defined %}
LimitFSIZE={{ LimitFSIZE }}
{%- endif %}

{%- if LimitCPU is defined %}
LimitCPU={{ LimitCPU }}
{%- endif %}

{%- if LimitAS is defined %}
LimitAS={{ LimitAS }}
{%- endif %}

{%- if LimitNOFILE is defined %}
LimitNOFILE={{ LimitNOFILE }}
{%- endif %}

{%- if LimitNPROC is defined %}
LimitNPROC={{ LimitNPROC }}
{%- endif %}

{%- if LimitMEMLOCK is defined %}
LimitMEMLOCK={{ LimitMEMLOCK }}
{%- endif %}

{%- if TasksMax is defined %}
TasksMax={{ TasksMax }}
{%- endif %}

{%- if TasksAccounting is defined %}
TasksAccounting={{ TasksAccounting }}
{%- endif %}

[Install]
WantedBy=multi-user.target
